{{!-- <h1>{{title}}</h1> --}}
<p class="instruction-text">Enter a full URL below to cut it down a notch.
  Customize your back-half or leave it blank for a random one.</p>

<form action="/submit" method="post" class="container justify-content-center">
  {{! <label for="url">URL:</label><br /> }}
  <input
    type="url"
    id="url"
    name="url"
    placeholder="https://google.com"
    required
  />
  <input
    type="text"
    id="backhalf"
    name="backhalf"
    placeholder="Minimum 3 alphanumeric characters"
    minlength="3"
    pattern="^[a-zA-Z0-9]*$"
  />
  <button id="submit-button" type="submit">Submit</button>
</form>

{{#if newURL}}
  <p class="new-url">Your chppd link is: chppd.xyz/{{newURL}}</p>
{{/if}}